force-app/main/default/flows/TestFlowFault.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Logs an Error when inserting a record</description>
        <name>Log_Record_Insert_Error</name>
        <label>Log Record Insert Error</label>
        <locationX>440</locationX>
        <locationY>278</locationY>
        <actionName>LogUtilFlowWrapper</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>appName</name>
            <value>
                <elementReference>MyApplication</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowElement</name>
            <value>
                <elementReference>MyFlowElementName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>ThisFlowName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <constants>
        <description>DummyValue for my Application</description>
        <name>MyApplication</name>
        <dataType>String</dataType>
        <value>
            <stringValue>MyTestApplication</stringValue>
        </value>
    </constants>
    <constants>
        <name>MyFlowElementName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>CreateBadLeadRecord</stringValue>
        </value>
    </constants>
    <constants>
        <description>FlowName</description>
        <name>ThisFlowName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>TestFlowFault</stringValue>
        </value>
    </constants>
    <description>Test Flow that will execute Logging Framework</description>
    <interviewLabel>TestFlowFault {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TestFlowFault</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_bad_lead</name>
        <label>Create bad lead</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <faultConnector>
            <targetReference>Log_Record_Insert_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <stringValue>Mickey Mouse</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_bad_lead</targetReference>
        </connector>
    </start>
    <status>Draft</status>
</Flow>
