force-app/main/default/flows/TestFlowFault.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description
    >Logs an Error when inserting a record - No Fault Message</description>
        <name>Log_Record_Insert_Error_No_Detail</name>
        <label>Log Record No Detail</label>
        <locationX>440</locationX>
        <locationY>398</locationY>
        <actionName>LogUtilFlowWrapper</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>appName</name>
            <value>
                <elementReference>MyApplication</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>ThisFlowName</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Logs an Error when inserting a record</description>
        <name>LogErrorWithDetail</name>
        <label>Log Error with Detail</label>
        <locationX>704</locationX>
        <locationY>398</locationY>
        <actionName>LogUtilFlowWrapper</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>appName</name>
            <value>
                <elementReference>MyApplication</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowElement</name>
            <value>
                <elementReference>MyFlowElementName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>ThisFlowName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <constants>
        <description>DummyValue for my Application</description>
        <name>MyApplication</name>
        <dataType>String</dataType>
        <value>
            <stringValue>MyTestApplication</stringValue>
        </value>
    </constants>
    <constants>
        <name>MyFlowElementName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>CreateBadLeadRecord</stringValue>
        </value>
    </constants>
    <constants>
        <description>FlowName</description>
        <name>ThisFlowName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>TestFlowFault</stringValue>
        </value>
    </constants>
    <decisions>
        <name>IsFaultMessageDisabled</name>
        <label>IsFaultMessageDisabled</label>
        <locationX>572</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>LogErrorWithDetail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Fault_Message</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NoFaultMessage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference
        >Log_Record_Insert_Error_No_Detail</targetReference>
            </connector>
            <label>No Fault Message</label>
        </rules>
    </decisions>
    <description>Test Flow that will execute Logging Framework</description>
    <interviewLabel>TestFlowFault {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TestFlowFault</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_bad_lead</name>
        <label>Create bad lead</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <faultConnector>
            <targetReference>IsFaultMessageDisabled</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <stringValue>Mickey Mouse</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_bad_lead</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <description
    >Input boolean to tell this test flow not to pass Element and Message in error logging</description>
        <name>NoFaultMessage</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
